# exam-sync-v2/backend/render.yaml

services:
  - type: web
    name: exam-sync-backend
    runtime: python
    plan: free
    region: singapore
    buildCommand: "pip install -r requirements.txt && python manage.py collectstatic --no-input"
    startCommand: "gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 120"
    envVars:
      - key: PYTHON_VERSION
        value: "3.13.4"
      - key: SECRET_KEY
        value: "django-insecure-66zj4z^+-6zsvac)9a5wau(k5_a!nc6z)fkl08*e^jg(h-$7qz"
      - key: DEBUG
        value: "False"
      - key: DB_NAME
        value: "examsync_v2_db_2fcb"
      - key: DB_USER
        value: "examsync_v2_db_2fcb_user"
      - key: DB_PASSWORD
        value: "MYuvLXo1mSa7GZgvyscQXk1qOt8cdTZa"
      - key: DB_HOST
        value: "dpg-d4akqsuuk2gs739hee8g-a.singapore-postgres.render.com"
      - key: DB_PORT
        value: "5432"
      - key: EMAIL_HOST_USER
        value: "examsync.notify@gmail.com"
      - key: EMAIL_HOST_PASSWORD
        value: "okcmslpkvhpbvuox"
      - key: FRONTEND_URL
        value: "https://exam-sync-frontend.onrender.com"